body{
   line-height: 2;
}


header, nav{
    /* Set padding and margin */
    padding: 20px 15px 20px 15px;
    margin: 50px;

}
nav ul li{
    /* Set display, margin, padding, font-size, background-color */
    display: inline-block;
    margin: 0px 20px;
    padding: 10px;
    font-size: 20px;
    background-color: blanchedalmond;
}

nav a{
    /* Set text decoration*/
    text-decoration: none;
}

a:visited{
    /* Set color */
    color: black;

}

nav a.current{
    /* Set text decoration, transformation, and underline properties */
    text-decoration: underline wavy;
    text-transform: uppercase;
    text-decoration-offset: 10px;
}


h1{
   /*Set font and font size*/
   font-size: 36px;
   font-family: 'Merriweather', Anton, "Times New Roman", sans-serif;
}

h2{
    /*Set font, font size, and alignment*/
    font-size: 30px;
    font-family: Anton, "Times New Roman", sans-serif;
    text-align: center;
}

h3{
    /*Set font size*/
    font-size: 24px;
}

h1, h2, h3{
    /*Set margin */
    margin-top: 50px;
}
.grid{
    /*Set width, margin, border properties, background color, and grid properties */
    width: 90%;
    margin: 0 auto;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.grid div{
    /* Set border properties, padding, and background color */
    border: 1px solid #333;
    padding: 20px;
    background-color: #ddd;

}

.grid img{
    /* Set width, margin, and display */
    width: 90%;
    margin: 0 auto;
    display: block;
}


.grid div:nth-child(3n+1)  {
    /* Set box shadow */
    box-shadow: 10px 0px 10px #333;
    }

.grid div:nth-child(3n)  {
    /* Set box shadow */ 
    box-shadow: -10px 0px 10px #333;
}

.grid div:nth-child(3n+2)  {
     /* Set box shadow */
     box-shadow: 10px 0px 10px #333, -10px 0px 10px #333;

}
    

p + p {
     /* Set indentation */
     text-indent: 20px;
  }
  
p{
     /* Set margin */
    margin: 20px 0px;
}


.grid ul li{
    /* Set margin, line-spacing, list styling  */
    margin: 10px 0 10px 20px;
    line-height: 1.5;
    list-style-image: url(sketchbook.png);
}
